meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
//-
    Add Favicon ico
    link(rel="apple-touch-icon" href="/fav16.png")
    link(rel="apple-touch-icon" sizes="32x32" href="/fav32.png")
    link(rel="apple-touch-icon" sizes="96x96" href="/fav96.png")
    link(rel="icon" type="image/png" href="/fav16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/fav32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/fav96.png" sizes="96x96")
meta(name="description" content="Description")

title Front-end Template

// ADD STYLE

//-
    Normalize
    link(rel="stylesheet" href="libs/normalize-css/normalize.css")
// Hamburgers
link(rel="stylesheet" href="libs/css-hamburgers/dist/hamburgers.min.css")
// Font Awesome
link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
<link href="http://allfont.ru/allfont.css?fonts=pt-sans" rel="stylesheet" type="text/css" />
// Slick Carousel
link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")

// Bootstrap
link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
//-
    Theme Bootstrap
    link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css")

// Google Fonts
link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')

// Sass generated style
link(rel="stylesheet" href="css/extended.min.css")
link(rel="stylesheet" href="css/style.min.css")

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

// ADD SCRIPTS
// JQuery
script(src="libs/jquery/dist/jquery.min.js")
// Bootstrap
script(src="libs/bootstrap/dist/js/bootstrap.min.js")
// Slick-carousel
script(src="libs/slick-carousel/slick/slick.min.js")
// Map Script
script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMIdjyZmJPMrW7Kq2S9u-xmMIJnrIRMIg&amp;amp;amp;sensor=false")
script(src="js/map.js")
// Common Script
script(src="js/common.js")

// Yandex.Metrika counter
// /Yandex.Metrika counter
// Google Analytics counter
// /Google Analytics counter
