//=========================//
//
//        IMPORT
//
//=========================//

// CORE IMPORT
//==========================
@import 'core/core';

// MODULES IMPORT
//==========================
@import 'components/form';
@import 'components/modal';
@import 'components/social';
@import 'components/nav';
@import 'components/header-catalog';
@import 'components/header-brands';

// OTHER STYLE IMPORT
//==========================
@import 'common';

// VENDORS IMPORT
//==========================
@import 'vendors/vendors';

$orange: #dab236;



body{
    font-family: 'PT Sans', arial;
}

p{
    margin: 0;
    font-size: 16px;
}