// scss-lint:disable all
//===============================
//
// BASE COLOR VARIABLES
//
//===============================

//== Colors

$white: #fff;
$black: #000;

//## Gray colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%)   !default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//## Brand colors for use on website
