html,
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: inherit;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
    color: inherit;
}

h2 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
    color: inherit;
}

h3 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
    color: inherit;
}

p {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: none;
    color: inherit;
}

.social {
    position: relative;
    margin: 0 0 15px;
    padding: 0;
    list-style: none;

    *zoom: 1;
}

.social::before,
.social::after {
    display: table;
    content: '';
}

.social::after {
    clear: both;
}

.social li {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.social li:last-child {
    margin-right: 0;
}

.social a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all .3s;
            transition: all .3s;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    background: transparent;
    box-shadow: none;
}

.social a:focus,
.social a:hover {
    outline: none;
}

.social a:hover {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.social .fa {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.social .color-facebook a {
    border-color: #3b5998;
    background-color: #3b5998;
}

.social .color-facebook a:focus,
.social .color-facebook a:hover {
    color: #3b5998;
    background-color: transparent;
}

.social .color-vkontakte a {
    border-color: #507299;
    background-color: #507299;
}

.social .color-vkontakte a:focus,
.social .color-vkontakte a:hover {
    color: #507299;
    background-color: transparent;
}

.social .color-twitter a {
    border-color: #00aced;
    background-color: #00aced;
}

.social .color-twitter a:focus,
.social .color-twitter a:hover {
    color: #00aced;
    background-color: transparent;
}

.social .color-pinterest a {
    border-color: #cb2027;
    background-color: #cb2027;
}

.social .color-pinterest a:focus,
.social .color-pinterest a:hover {
    color: #cb2027;
    background-color: transparent;
}

.social .color-linkedin a {
    border-color: #007bb6;
    background-color: #007bb6;
}

.social .color-linkedin a:focus,
.social .color-linkedin a:hover {
    color: #007bb6;
    background-color: transparent;
}

.social .color-odnoklasniki a {
    border-color: #f2720c;
    background-color: #f2720c;
}

.social .color-odnoklasniki a:focus,
.social .color-odnoklasniki a:hover {
    color: #f2720c;
    background-color: transparent;
}

.social .color-googleplus a {
    border-color: #dd4b39;
    background-color: #dd4b39;
}

.social .color-googleplus a:focus,
.social .color-googleplus a:hover {
    color: #dd4b39;
    background-color: transparent;
}

.social .color-instagram a {
    border: 0 solid transparent;
    background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    background:         radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.social .color-instagram a:focus,
.social .color-instagram a:hover {
    color: #3897f0;
    border: 1px solid #3897f0;
    background: transparent;
}

.social .color-youtube a {
    border-color: #b00;
    background-color: #b00;
}

.social .color-youtube a:focus,
.social .color-youtube a:hover {
    color: #b00;
    background-color: transparent;
}

.nav_top {
    font-size: 16px;
    min-height: 50px;
    padding: 12px 0;
    background: #1b1b1b;
}

.nav_top-inner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    text-align: right;

    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.nav_top-inner div {
    color: #fff;
}

.nav_top-inner a {
    margin: 0 10px;
    color: #fff;
    border-bottom: 1px dashed white;
}

.nav_top-inner a:hover {
    text-decoration: none;
}

.nav_top-city p {
    display: inline-block;
}

.city_choice {
    text-transform: uppercase;
}

.nav_top-search {
    position: relative;
    margin: 0 30px;
}

.nav_top-search input {
    vertical-align: middle;
    background: none;
}

.nav_top-search input:focus {
    outline: none;
}

.nav_top-search ::-webkit-input-placeholder {
    /* Chrome */
    color: #fff;
}

.nav_top-search :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.nav_top-search ::-moz-placeholder {
    opacity: 1;
    /* Firefox 19+ */
    color: #fff;
}

.nav_top-search :-moz-placeholder {
    opacity: 1;
    /* Firefox 4 - 18 */
    color: #fff;
}

.nav_top-search .search_area {
    font-size: 12px;
    width: 170px;
    padding: 3px 5px;
    border: 1px solid #fff;
}

.nav_top-search .search_btn {
    position: absolute;
    top: 8px;
    right: 7px;
    width: 13px;
    height: 13px;
    border: none;
    background: none;
}

.nav_top-search .fa-search:before {
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
}

.nav_top-catalog {
    height: 50px;
    margin: -15px 10px -15px 0;
    padding: 13px 15px 13px 40px;
    cursor: pointer;
    background: #dab236;
}

.nav_top-catalog:hover {
    background: #be9b32;
}

.nav_top-catalog span {
    font-weight: 600;
    position: relative;
    color: #000;
}

.nav_top-catalog span::before {
    position: absolute;
    left: -23px;
    content: '☰';
    -webkit-transform: scale(1.4, .9);
        -ms-transform: scale(1.4, .9);
            transform: scale(1.4, .9);
}

.nav_top-phone {
    margin: 0 15px;
}

.nav_top-phone span {
    font-weight: 600;
}

.nav_content {
    padding: 10px 0;
    background: #000;
}

.nav_content-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}

.navigation {
    margin-bottom: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 25px;
}

.navigation li a {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.navigation li a:hover {
    text-decoration: none;
    color: #dab236;
}

.entry a {
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: #dab236;
}

.entry a::before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 3px;
    content: '';
    vertical-align: middle;
    background: url(../images/enter.png) no-repeat center/cover;
}

.basket a {
    font-weight: 600;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 10px;
    color: #460d7e;
    border-radius: 50%;
    background: #dab236;
}

.basket a:hover {
    text-decoration: none;
    color: #000;
}

.basket a::after {
    position: absolute;
    right: -40px;
    bottom: -5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 7px;
    content: '';
    vertical-align: middle;
    background: url(../images/basket.png) no-repeat center/cover;
}

.header_catalog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    min-height: 720px;
}

.header_catalog-item {
    position: relative;
    overflow: hidden;
    -webkit-transition: background 1s;
            transition: background 1s;

    background-blend-mode: multiply;
}

.header_catalog-item:hover .header_catalog-inner {
    top: 215px;
}

.header_catalog-inner {
    position: relative;
    top: 640px;
    left: 0;
    height: 100%;
    -webkit-transition: top .7s;
            transition: top .7s;
    text-align: center;
}

.header_catalog-item {
    background: url(../images/ex.jpg) no-repeat center/cover, -webkit-linear-gradient(top, #fff, rgba(0, 0, 0, .99) 90%);
    background: url(../images/ex.jpg) no-repeat center/cover, linear-gradient(to bottom, #fff, rgba(0, 0, 0, .99) 90%);
}

.header_catalog-item:hover {
    background: url(../images/ex.jpg) no-repeat center/cover, -webkit-linear-gradient(top, #fff, rgba(0, 0, 0, .8) 0%);
    background: url(../images/ex.jpg) no-repeat center/cover, linear-gradient(to bottom, #fff, rgba(0, 0, 0, .8) 0%);
}

.header_catalog-item:nth-child(even) {
    background: url(../images/ex2.png) no-repeat center/cover, -webkit-linear-gradient(top, #fff, rgba(0, 0, 0, .99) 90%);
    background: url(../images/ex2.png) no-repeat center/cover, linear-gradient(to bottom, #fff, rgba(0, 0, 0, .99) 90%);
}

.header_catalog-item:nth-child(even):hover {
    background: url(../images/ex2.png) no-repeat center/cover, -webkit-linear-gradient(top, #fff, rgba(0, 0, 0, .8) 0%);
    background: url(../images/ex2.png) no-repeat center/cover, linear-gradient(to bottom, #fff, rgba(0, 0, 0, .8) 0%);
}

.category_caption {
    font-size: 21px;
    font-weight: 600;
    display: block;
    margin-bottom: 50px;
    color: #fff;
}

.category_description {
    display: block;
    margin-bottom: 65px;
    padding: 0 20px;
    color: #fff;
}

.category_btn {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 50px;
    text-transform: uppercase;
    color: black;
    background: #dab236;
}

.category_btn:hover {
    text-decoration: none;
    color: black;
    background: #cca634;
}

.header_brands {
    text-align: center;
    background: #000;
}

.header_brands p {
    font-size: 31px;
    font-weight: 600;
    padding: 40px 0;
    text-transform: uppercase;
    color: #dab236;
}

.brands_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    padding: 0 50px 45px;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}

body {
    font-family: 'PT Sans', arial;
}

p {
    font-size: 16px;
    margin: 0;
}
