//===============================
//
// NAV
//
//===============================


.nav_top{
    min-height: 50px;
    padding: 12px 0;
    background: #1b1b1b;


    font-size: 16px;
}

.nav_top-inner{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    div{
        color: #fff;
    }
    a{
        margin: 0 10px;
        color: #fff;
        border-bottom: 1px dashed white;
        &:hover{
            text-decoration: none;
        }
    }

}

.nav_top-city{
    p{
        display: inline-block;
    }
    
}

.city_choice{
    text-transform: uppercase;
}





.nav_top-search{
    position: relative;
    margin: 0 30px;
    input{
        vertical-align: middle;
        background: none;
        &:focus{
            outline: none;
        }
    }

    
    ::-webkit-input-placeholder { /* Chrome */
    color: #fff;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
    color: #fff;
    opacity: 1;
    }
    .search_area{
        width: 170px;
        padding: 3px 5px;
        border: 1px solid #fff;

        font-size: 12px;
        
    }
    .search_btn{
        position: absolute;
        top: 8px;
        right: 7px;
        border: none;
        background: none;
        height: 13px;
        width: 13px;
    }
    .fa-search:before{
        position: absolute;
        top: 0px;
        right: 0px;
        font-weight: 100;
        font-size: 12px;
    }

}



.nav_top-catalog{
    height: 50px;
    margin: -15px 10px -15px 0;
    padding: 13px 15px 13px 40px;
    background: #dab236;
    cursor: pointer;
    &:hover{
        background: #be9b32;
    }
    span{
        color: #000;
        font-weight: 600;
        position: relative;
    }
    span::before{
        content: '☰';
        position: absolute;
        left: -23px;
        transform: scale(1.4,0.9);
    }
}

.nav_top-phone{
    margin: 0 15px;
    span{
        font-weight: 600;
    }
}







.nav_content{
    padding: 10px 0;
    background: #000;
}

.nav_content-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation{
    margin-bottom: 0;
    li{
        display: inline-block;
        margin-right: 25px;

        a{
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;

            &:hover{
                text-decoration: none;
                color: #dab236;
            }
        }
    }
}

.entry{
    a{
        position: relative;
        color: #dab236;
        text-transform: uppercase;
        font-weight: 600;
    }
    a::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;

        vertical-align: middle;
        margin-bottom: 3px;
        margin-right: 10px;

        background: url(../images/enter.png) no-repeat center / cover;
    }
}

.basket{
    a{
        display: block;
        position: relative;
        width: 30px;
        height: 30px; 
        padding: 5px 5px 5px 10px;
        border-radius: 50%;
        background: #dab236;
        color: #460d7e;
        font-weight: 600;
        &:hover{
            text-decoration: none;
            color: #000;
        }
    }
    a::after{
        content: "";
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        right: -40px;
        bottom: -5px;

        vertical-align: middle;
        margin-bottom: 7px;
        margin-right: 10px;

        background: url(../images/basket.png) no-repeat center / cover;
    }
}