.header_brands{
    background: #000;
    text-align: center;
    p{
        padding: 40px 0;
        font-size: 31px;
        color: #dab236;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.brands_row{
    display: flex; 
    justify-content: space-around;

    padding: 0 50px 45px;
}