
.header_catalog{
    display: flex;
    min-height: 720px;
}

.header_catalog-item{
    position: relative;
    overflow: hidden;
    background-blend-mode: multiply;
    transition: background 1s;
    &:hover{
        .header_catalog-inner{
            top: 215px;
        }

    }
}
.header_catalog-inner{
    position: relative;
    left: 0;
    top: 640px;
    height: 100%;
    text-align: center;
    transition: top 0.7s;
}
// .header_catalog-item:nth-child(1){
//     background: url(../images/shutterstock_265720934.jpg) no-repeat center / cover;
// }
// .header_catalog-item:nth-child(2){
//     background: url(../images/shutterstock_524302627.jpg) no-repeat center / cover;
// }
// .header_catalog-item:nth-child(3){
//     background: url(../images/shutterstock_426241945.jpg) no-repeat center / cover;
// }
// .header_catalog-item:nth-child(4){
//     background: url(../images/shutterstock_632277839.jpg) no-repeat center / cover;
// }
.header_catalog-item{
    background: url(../images/ex.jpg) no-repeat center/cover,linear-gradient(to bottom,#ffffff,rgba(0, 0, 0, 0.99) 90%);
    &:hover{
        background: url(../images/ex.jpg) no-repeat center/cover,linear-gradient(to bottom,#ffffff,rgba(0, 0, 0, 0.8) 0%);
    }
}
.header_catalog-item:nth-child(even){
    background: url(../images/ex2.png) no-repeat center/cover,linear-gradient(to bottom,#ffffff,rgba(0, 0, 0, 0.99) 90%);
    &:hover{
        background: url(../images/ex2.png) no-repeat center/cover,linear-gradient(to bottom,#ffffff,rgba(0, 0, 0, 0.8) 0%);
    }
}


.category_caption{
    display: block;
    color: #fff; 
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 50px;
}

.category_description{
    padding: 0 20px;
    display: block;
    color: #fff;
    margin-bottom: 65px;
}
.category_btn{
    padding: 15px 50px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;

    background: #dab236;
    &:hover{
        color: black;
        text-decoration: none;
        background: #cca634;
    }
}