.header_catalog
    .header_catalog-item
        .header_catalog-inner
            span.category_caption ВЕЛОСИПЕДЫ
            p.category_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").category_btn Перейти в каталог
    .header_catalog-item
        .header_catalog-inner
            span.category_caption САМОКАТЫ
            p.category_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").category_btn Перейти в каталог
    .header_catalog-item
        .header_catalog-inner
            span.category_caption МЯЧИ
            p.category_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").category_btn Перейти в каталог
    .header_catalog-item
        .header_catalog-inner
            span.category_caption СКЕЙТБОРДЫ
            p.category_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").category_btn Перейти в каталог