.header_brands
    p бренды
    .brands_row
        .brand_item
            a(href="#")
                img(src="images/br1.png" alt="")
        .brand_item
            a(href="#")
                img(src="images/br2.png" alt="")
        .brand_item
            a(href="#")
                img(src="images/br3.png" alt="")
        .brand_item
            a(href="#")
                img(src="images/br4.png" alt="")
        .brand_item
            a(href="#")
                img(src="images/br5.png" alt="")