nav
    .nav_top
        .container
            .row.nav_top-inner
                .nav_top-city
                    p Ваш город:
                    a( href="#" class="city_choice") москва
                .nav_top-search
                    input(type="text" class="search_area" placeholder="Поиск")
                    button(type="button" class="search_btn")
                        i.fa.fa-search
                .nav_top-catalog
                    span Каталог товаров
                .nav_top-phone
                    span 8-800-888-88-88
                .nav_top-callback
                    a(href="#") Заказать звонок
    .nav_content
        .container
            .row.nav_content-inner
                a(href="#").header_logo
                    img(src="images/logo.png" alt="")
                ul.navigation
                    li
                        a(href="#") О НАС
                    li
                        a(href="#") НОВОСТИ
                    li
                        a(href="#") ИНСТРУКЦИИ
                    li
                        a(href="#") СЕРВИС
                    li
                        a(href="#") КОНТАКТЫ 
                    li
                        a(href="#") ДИЛЕРАМ 
                .entry
                    a(href="#") вход
                .basket
                    a(href="#") 4